*{
    margin: 0;
    border: border-box;
    padding: 0%;
}
.navbar{
    height: 2.5rem;
    background-color:#0D0630;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    border-bottom: 2px solid white;
}
#home{
    background-color: #18314F;
    height:12.5rem ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.myphoto{
    background-image: url("myphoto.jpeg");
    background-size: cover;
    height: 9rem;
    width:9rem;
    border: 15px solid #090020;
    border-radius: 50%;
}
.home-con{
    font-size: 1.2rem;

}
.hiline{
    font-size: 2rem;
    font-weight:300 ;
    margin-bottom: 20px;
}
.dwnldresume{
    font-size: 0.9rem;
    height:2rem;
    width:10rem;
    background-color: #090423;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}
