*{
    margin: 0;
    border: border-box;
    padding: 0%;
}
.navbar{
    height: 2.5rem;
    background-color:#0D0630;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    border-bottom: 2px solid white;
}
#home{
    background-color: #18314F;
    height:12.5rem ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.myphoto{
    background-image: url("myphoto.jpeg");
    background-size: cover;
    height: 9rem;
    width:9rem;
    border: 15px solid #090020;
    border-radius: 50%;
}
.home-con{
    font-size: 1.2rem;

}
.hiline{
    font-size: 2rem;
    font-weight:300 ;
    margin-bottom: 20px;
}
.dwnldresume{
    font-size: 0.9rem;
    height:2rem;
    width:10rem;
    background-color: #090423;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}
#about{
    height:auto;
    background-color:#6c8ba8 ;
    margin-top: 10px;
    padding-top: 30px;
    text-align: center;
}
.heading{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: rgb(152, 152, 152);
    color: rgb(84, 83, 83);
}
.about-cont{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
#myskill{
    background-color:#506c86 ;
    height: auto;
    text-align: center;
    margin-top:10px ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.skillphoto{
    /* padding-bottom: 30px; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 30px;
}
img{
    background-size: cover;
    width:200px;
    height: 200px;
}
.photodiv p{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

