*{
    margin: 0;
    border: border-box;
    padding: 0%;
}
body{
    background-color:#111827;
    color:#F9FAFB;
}

.navbar{
    height: 2.5rem;
    background-color:#111827;
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.navbar a{
    color:#D1D5DB;
    text-decoration: none;
}
.navbar a:hover{
    color:#A78BFA;
    border-bottom: 2px solid #A78BFA;
}
#home{
    background-color:#111827;
    height:12.5rem ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#D1D5DB;
}
.myphoto img{
    background-size: cover;
    height: 9rem;
    width:9rem;
    border: 15px solid #A78BFA;
    border-radius: 50%;
}
.home-con{
    font-size: 1.2rem;

}
.hiline{
    font-size: 2rem;
    font-weight:300 ;
    margin-bottom: 20px;
    color:#A78BFA;
}
.specialbutton a{
    font-size: 0.9rem;
    height:2rem;
    width:10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    background-color:#A78BFA;
    color:#111827;
    text-decoration: none;
}
.specialbutton a:hover{
    background-color:#8B5CF6;
}
#about{
    height:auto;
    background-color:#111827;
    padding-top: 30px;
    text-align: center;
}
.heading{
    display: inline-block;
    background:none;
    text-decoration: underline;
    text-decoration-color: #8B5CF6;
    color:#A78BFA;
}
.about-cont{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color:#1F2937;
    color:#D1D5DB;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
#myskill{
    background-color:#111827;
    height: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.skillphoto{
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 30px;
}
.photodiv{
    background-color:#1F2937;
    padding:20px;
    border-radius:12px;
}

 .photodiv img{
    background-size: cover;
    width:200px;
    height: 200px;
}
.photodiv p{
    font-size: 1.2rem;
    font-weight: 400;
     color:#C7D2FE;
}
#projects{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#111827;
    height: auto;
    text-align: center;
}
.pjctmenu{
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projecti{
    height: auto;
    width:400px;
     background-color:#1F2937;
    color:#D1D5DB;
    margin-right: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    
}
 img{
    background-size: cover;
    height:200px;
    width:400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.buttonline{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#education{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#111827;
    height: auto;
    text-align: center;
}
.about-cont ul{
    list-style: none ;  
}
 #contact{
     padding-top: 30px;
    padding-bottom: 30px;
    background-color:#111827;
    height: auto;
    text-align: center;
}
 .spaceeven{
    display: flex;
    justify-content: space-evenly;
}
